/* punto 2 */
p{
    background-color: #f2f2f2;
    font-size: 16px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}

/* punto 3 */
.caja{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    border-top: solid 0px;
    height: 100px;
    
}

/* punto 3 */
.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-bottom: 30px;

}

/* punto 4 */
.boton{
    background-color: #28a745;
    width: 100%;
}

/* punto 1 */
.ima{
    width: 500px;
    display: block;
    margin: auto;
}

@media (max-width: 768px) {
    .ima {
        display: none;
    }
}